
    <h1>Bonjour,</h1>
    <p>une demande d'information via le formulaire de contact de la part de :</p>
    <p>Nom : {{ lastname }}</p>
    <p>Prénom : {{ firstname }}</p>
    <p>Email : {{ email }}</p>
    <p>Le contenu du message : </p>
    <p>{{ message }}</p>
