
    <h1>Bonjour,</h1>
    <p>Une demande de liste {% if list == 'ecole' %}des écoles{% else %}des studios{% endif %} a été déposé sur votre site.</p>
    <p>Informations du demandeur.</p>
    <p>Prénom : {{ firstname }}</p>
    <p>Nom : {{ lastname }}</p>
    <p>Email : {{ email }}</p>
    <p>Cordialement.</p>
