{% extends 'emails/base.html.twig' %}
{% block title %}
    Dépot exercice {{ exercice.title }}
{%  endblock %}
{% block content %}
    <p>Bonjour,</p>
    <p>L'élève {{ user.firstname}} {{ user.lastname}} a déposé un rendu pour l'exercice {{ exercice.title }} sur la plateforme l'Animateur Autodidacte Accompagné.</p>
    <p>Rendez-vous sur votre espace pour lui proposer une correction</p>
    <p>Cordialement,</p>
{%  endblock %}
{% block sign %}Alexis Madrid{% endblock %}