{% extends 'admin/security/base.html.twig' %}

{% block title %}Récupération des accès{% endblock %}

{% block body %}        
    <form method="post">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group mb-3">
          <div class="input-group input-group-merge input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
            </div>
            <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Votre adresse e-mail">
          </div>
        </div>
        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
        <div class="text-center">
          <button type="submit" class="btn btn-primary my-4">Réinitialiser mon mot de passe</button>
        </div>
      </form>
{% endblock %}

{% block footer %}    
      <div class="row mt-3">
        <div class="col-12 text-blue text-center">
          <a href="{{path('app_login')}}" class="text-white"><small>Retour sur la page de connexion</small></a>
        </div>
      </div>
{% endblock %}