{% extends 'admin/security/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}    
    
        <form method="post">
            
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
            <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" value="" name="password" id="password" class="form-control" required autofocus placeholder="Nouveau mot de passe">
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" value="" name="confirm_password" id="confirm_password" class="form-control" required autofocus placeholder="Confirmation du mot de passe">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Réinitialiser mon mot de passe</button>
            </div>
          </form>
{% endblock %}
{% block footer %}    
      <div class="row mt-3">
        <div class="col-12 text-blue text-center">
          <a href="{{path('app_login')}}" class="text-white"><small>Retour sur la page de connexion</small></a>
        </div>
      </div>
{% endblock %}